#acs-google-form {
    width: 100vw;
    height: 240vh;
    padding: 0;
}

#agenda {
    width: 50vw;
    height: 100vh;
}


// google form code embed specifications:
// width="640" height="1672" frameborder="0" marginheight="0" marginwidth="0"