@import '../styles';

.main-footer{
    color: white;
    background-color: $black;

    position: absolute;


    padding-top:1em;
    bottom: 0;
    padding-bottom: 1em;

    
    width: 100%;
    height: 5rem;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


.list-unstyled{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#logo{
    background-image: url('../images/logo.jpg');
    height: 5em;
    width: 5em;
    background-size: cover;
    
}

