$background: rgb(226, 226, 212);

* {
  background-color: $background;
}

h1 {
  color: black;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  padding: 10px;
}

p {
  text-align: center;
  margin-top: 300px;
}
