@import '../styles';

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(90, 199, 130);
$light-gray: rgb(206, 204, 204);
$dark-gray: rgb(93, 88, 88);
$background: rgb(226, 226, 212);
$test: rgb(163, 82, 238);
$super-light-gray: rgb(226, 225, 225);


input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.profile {
  background-color: $dark-gray;

  box-shadow: -5px 5px 20px $black;

  width: 20vw;
  height: 60vh;

  // position: absolute;
  // top: 20%;

  text-align: center;

  border-radius: 10px;

  p {
    position: relative;
    margin-top: 0.5vh;

    color: $white;
    text-align: left;
    margin-left: 1vw;

    font-size: 1.5vw;
  }

  z-index: 1;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#title {
  position: relative;
  margin-top: -2vh;

  font-size: 1.2vw;

  text-decoration: none;

  color: $super-light-gray;
}

.pfp {
  // background-size: 20vw;

  width: 19.5vw;
  height: auto;

  border-radius: inherit;

  position: relative;
  top: 0.5vh;
  // left: 0.1vw;
}


$height: 75vh;

#members {
  background-color: $light-gray;

  width: 60vw;
  height: $height;

  // position: absolute;
  // top: 15vh;
  // left: 20vw;

  border-radius: 10px;

  z-index: 0;
}


.cards{
  height: $height;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1;
}


$icon-height: 3vw;
$icon-width: 3vw;
$icon-border-radius: 100vw;

.linkedIn {
  background-image: url('../images/linkedIn.png');
  background-size: 85%;
  background-position: center;

  height: $icon-height;
  width: $icon-width;

  border: none;
  border-radius: $icon-border-radius;

  position: relative;
  margin-left: -40%;
  margin-top: 1%;

  cursor: pointer;
}

.GitHub {
  background-image: url('../images/GitHub.png');
  background-size: 100%;
  background-position: center;

  height: $icon-height;
  width: $icon-width;

  border: none;
  border-radius: $icon-border-radius;

  position: relative;
  margin-left: 5%;
  margin-top: 1%;

    cursor: pointer;
}

.instagram{
    background-image: url( "../images/instagram.png");
    background-size: 102%;
    background-position: center;

    height: $icon-height;
    width: $icon-width;

    border: none;
    border-radius: 20px;

    position: relative;
    margin-left: -60%;
    margin-top: 1%;

    cursor: pointer;
}

.gmail{
    background-image: url( "../images/gmailCircle.png");
    background-size: 120%;
    background-position: center;

    height: $icon-height;
    width: $icon-width;

    border: none;
    border-radius: 25px;

    position: relative;
    margin-left: 5%;
    margin-top: 1%;

    cursor: pointer;
}
