@import '../styles';

$white: rgb(255, 255, 255);
$black: rgb(0,0,0);

.profile{
    background-color: $white;

    width: 25vw;
    height: 50vh;

    position: absolute;
    top: 25%;

    text-align: center;

    p{
        position: relative;
        margin-top: 20%;

        text-align: center;
        text-decoration:underline;
        
        font-size: 125%;
    }

}


.pfp{
    background-image: url('../images/AdiPfp.jpeg');
    background-size: 100%;

    height: 250px;
    width: 200px;

    border: 1px solid ;
    border-radius: 10%;

    position: relative;
    top:5%;
    left: 22%;

}

#Adi{
    left: 5%;
 }

#Arthi{
    left: 38%;
}


#Pranav{
    left: 70%;
}